# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*
server/.env
client/.env

# build outputs
client/dist/
dist/
build/
coverage/

# OS / editor
.DS_Store
.vscode/
.idea/
